---
const { plan } = Astro.props;
import { t } from "i18next";

const faqs = [
	{
		title: "What do I get ",
		description: "You Get the power of a world class marketing team for half the costs.",
	},
	{
		title: "Do You also Develop Websistes ?",
		description: " No we don't develop generic B2B websites , We build We Build B2B Sales Machines. We build more than just a pretty website. A fully custom B2B website that brings you inbound leads 24/7.  <br/>"  ,
	},
	{
		title: "How much does your B2B marketing services cost?",
		description: `Typically, our clients pay between $4000 and $6000 a month for our industry-leading digital marketing solutions <br/>
					<ul style="list-style: inside;">
							This includes : <br/> 
						<li>SEO </li>
						<li>elite copywriting </li>
						<li>CRO </li>
						<li>Digital Ads </li>
						<li>Sales funnel optimization </li>
						<li>LinkedIn Selling </li>
						<li>Email Campaign </li>


						
					</ul>`,
	},
	{
		title: "Do you offer B2B video production?",
		description: "Yes ",
	},
	{
		title: "Is this a 100% done for you service ?",
		description: `This is an 80% done-for-you elite service. We take care of the content creation, and outbound prospecting for you. <br/>
					<ul style="list-style: inside;">

						
						<li> There is a 20% participation required from you, however! </li>
						<li> You or someone from your team needs to commit to showing up and engaging in conversations with warm leads. </li>
						<li> You or someone from your team needs to commit to showing up for our monthly updates. </li>
						
					</ul>`
	},

	{
		title: "Do you have free resources ? ",
		description: `Yes  <a href="https://github.com/sveltia/sveltia-cms" target="_blank"> Click here to get our free B2B Marketing Strategies </a>`,
	},
	
	
];
---

<div class="mx-auto max-w-5xl px-6 py-24 sm:py-36 lg:px-8 lg:py-52 dark:bg-stone-950">
	<div class="mx-auto divide-y divide-gray-900/10 dark:divide-gray-100/10">
		<h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900 dark:text-white">{t("faq.title")}</h2>
		<dl class="mt-10 space-y-6 divide-y divide-gray-900/10 dark:divide-gray-100/10">
			{
				faqs.map((faq) => (
					<div class="pt-6" x-data="{ open: false }">
						<dt>
							<button
								type="button"
								class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white"
								@click="open = !open"
								:x-bind:aria-expanded="open.toString()">
								<span class="text-base font-semibold leading-7">{faq.title}</span>
								<span class="ml-6 flex h-7 items-center">
									<svg
										class="h-6 w-6"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										aria-hidden="true"
										x-show="!open">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"></path>
									</svg>
									<svg
										class="h-6 w-6"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										aria-hidden="true"
										x-show="open">
										<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"></path>
									</svg>
								</span>
							</button>
						</dt>
						<dd
							x-transition:enter="transition ease-out duration-100"
							x-transition:enter-start="opacity-0 transform scale-90"
							x-transition:enter-end="opacity-100 transform scale-100"
							x-transition:leave="transition ease-in duration-100"
							x-transition:leave-start="opacity-100 transform scale-100"
							x-transition:leave-end="opacity-0 transform scale-90"
							class="mt-2 pr-12"
							id="faq-0"
							x-show="open">
							<span class="text-base leading-7 text-gray-600 dark:text-gray-100">
								<span set:html={faq.description}></span>
							</span>
						</dd>
					</div>
				))
			}
		</dl>
	</div>
</div>
