---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import { localizePath } from "astro-i18next";
import { t } from "i18next";

const features = [
	{
		title: "Dominate Google Rankings",
		description: "features.seo",
		icon: "bx:bxs-briefcase",
		url: "https://cal.com/stephan/seo",
	},
	{
		title: "Content That Converts",
		description: "features.content",
		icon: "bx:bxs-window-alt",
		url: "https://cal.com/stephan/seo",
	},
	{
		title: "Lead Generation Machine",
		description: "features.leads",
		icon: "bx:bxs-data",
		url: "https://cal.com/stephan/seo",
	},
	{
		title: "Maximize Conversions",
		description: "features.conversion",
		icon: "bx:bxs-user",
		url: "https://cal.com/stephan/seo",
	},
	{
		title: "Precision-Targeted CRO",
		description: "features.CRO",
		icon: "bx:bxs-bot",
		url: "https://cal.com/stephan/seo",
	},
	{
		title: "Strategic Market Entry",
		description: "features.GTM",
		icon: "bx:bxs-file-find",
		url: "https://cal.com/stephan/seo",
	},
	{
		title: "Behavioral Insights to Action",
		description: "features.Analytics",
		icon: "bx:bxs-user",
		url: "https://cal.com/stephan/seo",
	},
	{
		title: "Innovative Web Development",
		description: "features.webdev",
		icon: "bx:bxs-user",
		url: "https://cal.com/stephan/seo",
	},

	{
		title: "Innovative Strategies, Proven Results",
		description: "features.results",
		icon: "bx:bxs-user",
		url: "#",
	},
];
---

<div class="relative mx-auto max-w-5xl px-6 lg:px-8">
	<div class="mx-auto max-w-2xl lg:text-center">
		<h2 class="text-base font-semibold leading-7 text-black dark:text-white">{t("features.title")}</h2>
		<p class="mt-2 text-3xl font-bold tracking-tight text-black dark:text-white sm:text-4xl">{t("features.subtitle")}</p>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-gray-100">
			{t("features.description")}
		</p>
	</div>
	<div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
		<dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
			{
				features.map((item) => (
					<div class="flex flex-col">
						<dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-black dark:text-white">
							<div class="h-5 w-5 flex-none text-black dark:text-white">
								<Icon name={item.icon} />
							</div>
							{item.title}
						</dt>
						<dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-900 dark:text-gray-100">
							<p class="flex-auto">{t(item.description)}</p>
							<p class="mt-6">
								<Link href={item.url} style="muted" size="xs" class="leading-6 text-left text-black dark:text-white">
									{t("features.learn_more")}{"  "}
									<span class="pl-1 text-black dark:text-white" aria-hidden="true">
										→
									</span>
								</Link>
							</p>
						</dd>
					</div>
				))
			}
		</dl>
	</div>
</div>
